In [1]:
import pandas as pd
import numpy as np

In [4]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [5]:
df_train

,QuestionId,ConstructId,ConstructName,SubjectId,SubjectName,CorrectAnswer,QuestionText,AnswerAText,AnswerBText,AnswerCText,AnswerDText,MisconceptionAId,MisconceptionBId,MisconceptionCId,MisconceptionDId
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets,NaN,NaN,NaN,1672.0
1,1,1612,Simplify an algebraic fraction by factorising ...,1077,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify,2142.0,143.0,2142.0,NaN
2,2,2774,Calculate the range from a list of data,339,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Only\nTom,Only\nKatie,Both Tom and Katie,Neither is correct,1287.0,NaN,1287.0,1073.0
3,3,2377,Recall and use the intersecting diagonals prop...,88,Properties of Quadrilaterals,C,The angles highlighted on this rectangle with ...,acute,obtuse,\( 90^{\circ} \),Not enough information,1180.0,1180.0,NaN,1180.0
4,4,3387,Substitute positive integer values into formul...,67,Substitution into Formula,A,The equation \( f=3 r^{2}+3 \) is used to find...,\( 30 \),\( 27 \),\( 51 \),\( 24 \),NaN,NaN,NaN,1818.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,1864,2774,Calculate the range from a list of data,339,Range and Interquartile Range from a List of Data,C,What is the range of the following numbers?\n\...,\( 5 \),\( 11 \),\( 23 \),\( 16 \),2456.0,691.0,NaN,1349.0
1865,1865,2695,"Describe an enlargement, with no centre of enl...",90,Length Scale Factors in Similar Shapes,B,Shape \( Q \) is an enlargement of shape \( P ...,\( 3 \div 11 \),\( 11 \div 3 \),\( 3 \times 11 \),\( 11-3 \),1500.0,NaN,2442.0,1258.0
1866,1866,854,Use the order of operations to carry out calcu...,33,BIDMAS,B,What does the following equal?\n\[\n8-7+10 \ti...,\( 36 \),\( 31 \),\( -29 \),\( 33 \),NaN,NaN,2306.0,1507.0
1867,1867,2634,Distinguish between congruency and similarity,274,Congruency in Other Shapes,B,Tom and Katie are discussing congruence and si...,Only\nTom,Only Katie,Both Tom and Katie,Neither is correct,2312.0,NaN,2312.0,2312.0
1868,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,Jo and Paul are arguing about how to fully des...,Only\nJo,Only Paul,Both Jo and Paul,Neither is correct,801.0,NaN,801.0,95.0

In [10]:
list(df_train.columns)[0:7]

['QuestionId',
 'ConstructId',
 'ConstructName',
 'SubjectId',
 'SubjectName',
 'CorrectAnswer',
 'QuestionText']

In [13]:
df_train.iloc[0,:]

QuestionId                                                          0
ConstructId                                                       856
ConstructName       Use the order of operations to carry out calcu...
SubjectId                                                          33
SubjectName                                                    BIDMAS
CorrectAnswer                                                       A
QuestionText        \[\n3 \times 2+4-5\n\]\nWhere do the brackets ...
AnswerAText                                     \( 3 \times(2+4)-5 \)
AnswerBText                                    \( 3 \times 2+(4-5) \)
AnswerCText                                     \( 3 \times(2+4-5) \)
AnswerDText                                    Does not need brackets
MisconceptionAId                                                  NaN
MisconceptionBId                                                  NaN
MisconceptionCId                                                  NaN
MisconceptionDId                                               1672.0
Name: 0, dtype: object

In [24]:
def cleanTrainData(df):

    options = ['A','B','C','D']
    originalCols = list(df.columns)

    newCols = originalCols
    newCols.append('AnswerText')
    newCols.append('MisconceptionId')
    
    
    newDf = pd.DataFrame(columns=newCols)

    for i in range(df.shape[0]):
    
        for option in options:
            new_row = df.iloc[i,:].copy()
            new_row['QuestionId'] = f"{new_row['QuestionId']}_{option}"
            new_row['AnswerText'] = new_row[f"Answer{option}Text"]
            new_row['MisconceptionId'] = new_row[f"Misconception{option}Id"]
            newDf = pd.concat([newDf, new_row.to_frame().T], ignore_index=True)

    newDf = newDf.drop(['ConstructId','SubjectId','AnswerAText','AnswerBText','AnswerCText','AnswerDText','MisconceptionAId','MisconceptionBId','MisconceptionCId','MisconceptionDId'],axis=1)

    return newDf.dropna()

In [25]:
df_test

,QuestionId,ConstructId,ConstructName,SubjectId,SubjectName,CorrectAnswer,QuestionText,AnswerAText,AnswerBText,AnswerCText,AnswerDText
0,1869,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times(2+4)-5 \),\( 3 \times 2+(4-5) \),\( 3 \times(2+4-5) \),Does not need brackets
1,1870,1612,Simplify an algebraic fraction by factorising ...,1077,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \),\( m+2 \),\( m-1 \),Does not simplify
2,1871,2774,Calculate the range from a list of data,339,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Only\nTom,Only\nKatie,Both Tom and Katie,Neither is correct

In [32]:
def cleanTestData(df):
    options = ['A','B','C','D']
    originalCols = list(df.columns)

    newCols = originalCols
    newCols.append('AnswerText')
    
    
    newDf = pd.DataFrame(columns=newCols)

    for i in range(df.shape[0]):
    
        for option in options:
            if df.iloc[i,:]['CorrectAnswer'] == option:
                continue
            new_row = df.iloc[i,:].copy()
            new_row['QuestionId'] = f"{new_row['QuestionId']}_{option}"
            new_row['AnswerText'] = new_row[f"Answer{option}Text"]
            newDf = pd.concat([newDf, new_row.to_frame().T], ignore_index=True)

    newDf = newDf.drop(['ConstructId','SubjectId','AnswerAText','AnswerBText','AnswerCText','AnswerDText'],axis=1)

    return newDf.dropna()

In [33]:
cleanTestData(df_test)

,QuestionId,ConstructName,SubjectName,CorrectAnswer,QuestionText,AnswerText
0,1869_B,Use the order of operations to carry out calcu...,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times 2+(4-5) \)
1,1869_C,Use the order of operations to carry out calcu...,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,\( 3 \times(2+4-5) \)
2,1869_D,Use the order of operations to carry out calcu...,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,Does not need brackets
3,1870_A,Simplify an algebraic fraction by factorising ...,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+1 \)
4,1870_B,Simplify an algebraic fraction by factorising ...,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m+2 \)
5,1870_C,Simplify an algebraic fraction by factorising ...,Simplifying Algebraic Fractions,D,"Simplify the following, if possible: \( \frac{...",\( m-1 \)
6,1871_A,Calculate the range from a list of data,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Only\nTom
7,1871_C,Calculate the range from a list of data,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Both Tom and Katie
8,1871_D,Calculate the range from a list of data,Range and Interquartile Range from a List of Data,B,Tom and Katie are discussing the \( 5 \) plant...,Neither is correct